<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Multi User Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/blog.css" rel="stylesheet">

  </head>

  <body>
    {% set navigation_bar = [
      ('/', 'index', user ),
      ('Timeline', 'timeline', 'Timeline'),
      ('NewPost', 'newpost', 'NewPost'),
      ('SignUp', 'signup', 'SignUp'),
      ('Login', 'login', 'Login'),
      ('Logout', 'logout', 'Logout')
    ] -%}

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          {% for href, id, caption in navigation_bar %}
            <a
              {% if id == active_page %}
                class="blog-nav-item active"
              {% else %}
                class="blog-nav-item"
              {% endif %}
            href="{{ href|e }}">{{ caption|e }}
            </a>
          {% endfor %}
          <!-- Trigger the modal with a button -->
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#newPostModal">NewPost</button>
        </nav>
      </div>
    </div>
    <div id = "alert_placeholder"></div>
    {% if alert.message %}
      <div class="alert {{alert.category}} fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{alert.message}}
      </div>
    {% endif %}


    <div class="container">

      {% block header %}
      <div class="blog-header">
        <h1 class="blog-title">{{user}} Blog</h1>
        <p class="lead blog-description">Hey {{user}}! Here's your blog.</p>
      </div>
      {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="blog-footer">
      <p>Powered by <a href="http://getbootstrap.com">Bootstrap</a> X <a href="https://github.com/wclin/">wclin</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>

    <!-- Create Post Modal -->
      <div id="newPostModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Post</h4>
            </div>
            <div class="modal-body">
              <form action="/NewPost" class="post" id="newPostForm">
                <input type="text" name="title">
                <textarea name="content"></textarea>
              </form>
            </div>
            <div class="modal-footer">
              <input class="btn btn-success" type="submit" value="Send!" id="newPostSubmit">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /Modal content-->
        </div>
      </div><!-- /Modal -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/blog.js"></script>
  </body>
</html>
