{% extends "base.html" %}

{% set active_page = 'login' %}

{% block header %}
      <div class="blog-header">
        <h1 class="blog-title">Login</h1>
        <p class="lead blog-description">Didn't have one? <a href="/SignUp">SignUp</a></p>
      </div>
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-sm-8 blog-main">

          <body>
            <form method="post">
              <table>
                <label>
                  <td class="label">
                    Username
                  </td>
                  <td>
                    <input type="text" name="username" value="{{username}}">
                  </td>
                  <td class="error">
                    {{error_username}}
                  </td>
                </tr>

                <tr>
                  <td class="label">
                    Password
                  </td>
                  <td>
                    <input type="password" name="password" value="">
                  </td>
                  <td class="error">
                    {{error_password}}
                  </td>
                </tr>

              </table>

              <input type="submit">
            </form>
          </body>
        </div><!-- /.blog-main -->
      </div><!-- /.row -->
    </div><!-- /.container -->
{% endblock %}