{% extends "base.html" %}

{% block content %}
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item" href="/">{{author}}</a>
                <a class="blog-nav-item active" href="NewPost">New Post</a>
                <a class="blog-nav-item" href="SignUp">Sign Up</a>
                <a class="blog-nav-item" href="Login">Login</a>
                <a class="blog-nav-item" href="Logout">Logout</a>
            </nav>
        </div>
    </div>

    <div class="container">

    <div class="blog-header">
        <h1 class="blog-title">The {{author}} blog</h1>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">
            <body>
                <h1>New Post</h1>

                <form method="post">
                    <label>
                        <div>title</div>
                        <input type="text" name="title">
                    </label>

                    <label>
                        <div>content</div>
                        <textarea name="content"></textarea>
                    </label>

                    <input type="submit">
                </form>
            </body>
        </div><!-- /.blog-main -->
    </div><!-- /.row -->

    </div><!-- /.container -->
    {% endblock %}