{% extends "base.html" %}

{% set active_page = 'signup' %}

{% block header %}
      <div class="blog-header">
        <h1 class="blog-title">SignUp</h1>
        <p class="lead blog-description">Already have one? <a href="/Login">Login</a></p>
      </div>
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-sm-12 blog-main">
          <body>
            <form method="post">
                <div class="row">
                  <div class="col-sm-12">
                    <label>
                      Username
                      <input type="text" name="username" value="{{username}}">
                      <small class="text-muted">
                        Name must be under 1500 bytes and contains no special character.
                      </small>
                    </lebel>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <label>
                      Password
                      <input type="password" name="password" value="">
                    </lebel>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <label>
                      Verify Password
                      <input type="password" name="verify" value="">
                    </lebel>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <label>
                      Email (optional)
                      <input type="text" name="email" value="{{email}}">
                    </lebel>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <label>
                      Description (optional)
                      <textarea name="description">{{description}}</textarea>
                    </lebel>
                  </div>
                </div>
              <input type="submit">
            </form>
          </body>
        </div><!-- /.blog-main -->
      </div><!-- /.row -->
    </div><!-- /.container -->
{% endblock %}