{% extends "base.html" %}

{% set active_page = 'timeline' %}

{% block header %}
      <div class="blog-header">
        <h1 class="blog-title">Timeline</h1>
        <p class="lead blog-description">Hey {{user}}! Here you can see everybody's posts!</p>
      </div>
{% endblock %}

    {% block content %}

      <div class="row">

        <div class="col-sm-8 blog-main">
          {% for post in posts %}
          <div class="blog-post">
            <h2 class="blog-post-title">{{post.title}}</h2>
            <p class="blog-post-meta">{{post.likes}}
            {% if post.isLiked %}
              <a href="/UnLike?post_id={{post.key().id()}}">UnLike</a>
            {% else %}
              <a href="/Like?post_id={{post.key().id()}}">Like</a>
            {% endif %}

            <p class="blog-post-meta">{{post.created}} by {{post.author.name}}</p>
            {{post.content.replace('\n', '<br>') | safe}}
            <p class="blog-post-meta"><a href="/{{post.key().id()}}">See more</a></p>
          </div><!-- /.blog-post -->
          {% endfor %}

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              {% for post in posts %}
                <li><a href="/{{post.key().id()}}">{{post.title}}</a></li>
              {% endfor %}
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
    {% endblock %}
